<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}"  method="post">
    <div>
        <label for="username">Username: </label> <br/>
        <input type="text" id="username" th:value="${param.username}">
    </div>
    <div>
        <label for="password">Password: </label> <br/>
        <input type="password" id="password" th:value="${param.password}">
    </div>

    <div>
        <button type="submit">Login</button>
    </div>
    <div th:if="${param.error}">
        <P>Invalid username or password</P>
    </div>
    <div>
        <a href="/register">Register</a>
    </div>
</form>
</body>
</html>